body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/Halona.jpg');
    background-size: auto;
}

section{
    width: 300px;
    /* background-color: rgba(181, 228, 248, 0.603); */
    padding: 10px;
    color: bisque;}

#billpic{
    float: right
}

#main{
    width: 800px;
    background-color: rgba(235, 234, 231, 0.671);
    padding: 5px;
    font-size: 120%;
    text-indent: 3px;
}

header {
    text-align: center;}

blockquote {
    float: right;
    width: 275px;
    font-size: 90%;
    font-style: italic;
    font-family: Georgia, Times, serif;
    margin: 10px 0px 10px 10px;
    padding: 10px;
    border-top: 2px solid #020202;
    border-bottom: 2px solid #020202;
    background-color: rgba(240, 255, 255, 0.781)}



h1 {
    color: rgb(37, 57, 149);
    border-bottom: 6px rgb(7, 7, 7);
    background-color: rgb(11, 126, 202);
}

img.align-center {
    display: block;
    margin: 0px auto;}
    img.medium {
    width: 400px;
}


p {
    width: 600px;
    
}

